<h1>О Нас</h1>
<p>
  <a href="http://railstutorial.org/">Учебник Ruby on Rails</a>
  это проект создающий книгу и видеоролики для обучения веб-разработке с  <a href="http://rubyonrails.org/">Ruby on Rails</a>. Это пример приложения для учебника.
</p>
