<h1>Помощь</h1>
<p>
  Получите справку по Учебнику Ruby on Rails на
  <a href="http://railstutorial.org/help">странице помощи Учебника</a>.
  Чтобы получить помошь по этому примеру приложения см.
  <a href="http://railstutorial.org/book">книгу Учебник Ruby on Rails </a>.
</p>
